.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 500px;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero.no-image * {
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.hero7.no-image {
  background-color: #212529;
  background-image: url(https://www.ilmgmt.com/img/map-image.png);
  color: #fff;
}

.hero.hero7.no-image h2, 
.hero.hero7.no-image h3,
.hero.hero7.no-image h4,
.hero.hero7.no-image h5,
.hero.hero7.no-image h6,
.hero.hero7.no-image p {
  color: #fff;
  text-align: center;
}

.hero.hero7.no-image a {
  color: #fed136;
}

.hero.hero7.no-image p {
  font-size: 16px;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}